PORT=8005

MONGODB_URL=mongodb://localhost:27017/ael

ACCESS_TOKEN_SECRET=your_access_token_secret
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=your_refresh_token_secret
REFRESH_TOKEN_EXPIRY=10d

# SMTP & Newsletter Email Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_specific_password
SMTP_FROM_NAME="AEL SafeLPG Bangladesh"
SMTP_FROM_EMAIL="newsletter@safelpg.com"
FRONTEND_URL=http://localhost:3000
